* {
    padding: 0;
    margin: 0;
}
body {
    size: 100%;
    color: hsl(0, 4%, 84%);
    font-family: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.others {
    background: -webkit-linear-gradient(top right, rgba(165, 109, 4, 0.7), rgba(214, 63, 88, 0.8) 75% );
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 1%);
}
span {
    color: hsl(214, 10%, 43%);
}
ul {
    list-style: none;
}
span.white {
    color: hsl(0, 4%, 84%);
}
body section.top {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 738px;
}
div.wrapper {
    padding: 0px 10% 20px;
    height: auto;
    background: -webkit-linear-gradient(top right, rgba(165, 109, 4, 0.7), rgba(214, 63, 88, 0.8) 75% );
}
nav {
    margin-bottom: 5%;
    font-weight: 600;
}
nav ul {
    display: flex;
    width: 100%;
    color: inherit;
    list-style: none;
    height: 50px;
}
nav ul li {
    margin-top: auto;
    margin-left: 25px;
    font-size: 1.09em;    
}
.blog_name {
    margin-right: auto;
    margin-left: 0;
}
.blog_name a img {
    height: 90px;
    width: 135px;
}
li.drpdwn {
    display: none;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
nav ul li a.selected, nav ul li.links a:hover {
    color: hsl(214, 10%, 43%);
    border-bottom: 2px solid hsl(0, 4%, 84%);
    transition: border 1s ease-in-out, color 1s ease-out;
}


div.note {
    margin-top: 22%;
    line-height: 1;
}
div.note h1 {
    font-size: 5.8em;
    color: hsl(215, 51%, 70%);
    line-height: 125px;
}
div.note p {
    width: 55%;
    line-height: 1.6;
    text-align: justify;
}
button.arrow {
    width: fit-content;
    margin-top: 3%;
    margin-bottom: 93px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    animation: arrow-movement 1s infinite;
}
button.arrow:hover .down {
    animation: arrow-movement 1s ease-in-out ;
}
section.posts {
    background-color: rgba(165, 109, 4, 0.289);
    padding: 40px 10% 60px;
    color: black;
    display: block;
}
div.container h1 {
    margin-bottom: 40px;
}
div.wrap {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
}
.col-1, .col-1-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 3px;
    
}
.col-1 {
    background-image: url(./img/IMG-20220720-WA0002.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.col-2, .col-2-1 {
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 3px;    
}
.col-2 {
    background-image: url(./img/black31.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.col-2-1 a .content ul {
    padding-top: 99%;
}
.col-3, .col-3-1 {
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 3px;
}
.col-3 {
    background-image: url(./img/IMG-20220720-WA0003.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}
.col-4, .col-4-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 3px;
}
.col-4 {
    background-image: url(./img/IMG-20220720-WA0005.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
}
.col-5, .col-5-1 {
    grid-column: 3/4;
    grid-row: 2/3;
    border-radius: 3px;
}
.col-5 {
    background-image: url(./img/black12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.col-1-1,.col-2-1, .col-3-1, .col-4-1, .col-5-1 {
    background: -webkit-linear-gradient(top right, rgba(165, 109, 4, 0.008), rgba(28, 26, 26, 0.672) 75% );
    overflow: hidden;
    position: relative;
    display: block;
}

.content ul {
    list-style: none;
    display: flex;
    /* padding-top: 39%; */
}
.content ul li span {
    color: white;
    background-color: orangered;
    font-size: 13px;
    padding: 2px 8px;
    margin-right: 20px;
    border-radius: 3px;
}
.content ul li p {
    font-size: 10px;
    padding: 4px 0;
}
.content h2 {
    margin-top: 4px;
    line-height: 1;
    font-size: 16px;
}
.content {
    position: absolute;
    /* width: 25%; */
    /* bottom: 0; */
    /* left: 0; */
    color: white;
    bottom: 0;
    padding: 0 10px 10px 10px;
    /* border-radius: 3px; */
}
section.subscribe {
    width: 100%;
    margin: 100px 0;
}
section.subscribe form {
    width: 80%;
    background-color: rgba(214, 63, 88, 0.8);
    margin: 0 auto;
    text-align: center;
    padding: 65px 0;
    border-radius: 3px;
}
section.subscribe form h1 {
    font-size: 2.5em;
    width: 60%;
    margin: 0 auto 25px;
}
section.subscribe form p {
    margin-bottom: 25px;
}
section.subscribe form .txtbx {
    height: 45px;
    width: 220px;
    border: none;
    padding-left: 15px;
    border-radius: 3px;
}
.txtbx:focus {
    outline: none;
}
section.subscribe form input.sbmt, .prod1-abt button {
    height: 45px;
    border: none;
    width: 100px;
    background-color: hsl(214, 10%, 43%);
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
}
footer {
    background-color: rgba(165, 109, 4, 0.7);
    padding: 15px 5% 2px;
    width: 90%;
    color: black;
}
.copyright, .top_footer {
    display: flex;
    font-size: 13px;
}
.lst1 .blog_name div {
    width: 150px;
    height: 80px;
    margin-bottom: 5px;
}
.lst1 .blog_name div a img {
    width: 100%;
}
div.top_footer {
    margin: 0 15% 30px;
    font-size: 0.9em;
}
.lst1 .us p{
    width: 400px;
}
.lst2 {
    margin-left: 18%;
    margin-top: 37px;
}
.lst2 h1 {
    line-height: 45px;
    font-size: 1.9em;
}
.back {
    margin: 57px 0 0 15%;
}
.copyright  {
    display: flex;
}
.copyright, .contact, .copyright div {
    list-style: none;
    display: flex;
}
.copyright div {
    width: 100%;
}
.copyright div p {
    line-height: 3;
}
.copyright .contact li {
    margin-right: 5px;
}
.contact li a img{
    width: 35px;
    border-radius: 50%;
}
.copyright div .copy {
    margin-left: 35%;
}
.copyright div .tc {
    margin-left: auto;
    font-size: 12px;
}
.lifestyle_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 5% 0 30px 0;
}
.post1 {
    background-color: rgba(245, 245, 245, 0.241);
    border-radius: 5px;
    margin-top: 10px;
}
.post1 a img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.details {
    padding: 5px;
}
.details h1 {
    font-size: 1.2em;
}
.details ul {
    display: flex;
}
.details ul li.admin {
    margin-right: 30px;
}
.details ul li p img {
    width: 10px;
    height: 10px;
}  
.details ul li p {
    font-size: 0.7em;
    font-weight: bold;
    border-top: none;
}
.details p {
    text-align: justify;
    font-size: 0.9em;
    border-top: 1px solid black;
    padding-top: 5px;
    margin-bottom: 3px;
}
a.more {
    font-style: italic;
}
.wrap {
    height: auto;
    width: 100%;
}
.product, .product-drugs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 1% 0 30px 0;
    gap: 15px;
}
.prod_catgry {
    color: hsl(215, 51%, 70%);
}
.product-1 {
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 5px;
}
.prod1-img {
    height: auto;
}
.prod1-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.prod1-abt {
    margin: auto;
    padding: 0 13px 5px;
    color: black;
    text-align: center;
}
.prod1-abt h1 {
    font-size: 1.2em;
    text-align: center;
}
.prod1-abt p {
    font-size: 0.9em;
    text-align: justify;
}
.prod1-abt button {
    height: 30px;
    width: 80px;
    margin: 5px auto 0; 
}
.prod1-abt a {
    color: white;
    padding: 10px 10px;
}
.aboutContainer {
    margin: 4% 0 30px 0;
}
.aboutUs {
    width: 60%;
    margin: auto;
}
.aboutUs h1 {
    font-size: 2em;
    line-height: 2;
    color: hsl(215, 51%, 70%);
}
.aboutUs p {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify;
}

@keyframes arrow-movement {
    0% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(10px);}
    80% {-webkit-transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0);}
}

#overlay2 {
    background-color: rgba(0, 0, 0, 0.618);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}


@media screen and (max-width: 980px) {
    div.note h1 {
        font-size: 4.8em;
        line-height: 1.3;
    }
    div.note p {
        width: 70%;
    }
    div.note {
        margin-top: 35%;
    }
    button.arrow {
        margin-top: 4.4%;
    }
    .content ul li span {
        font-size: 11px;
    }
    .content ul {
        padding-top: 68%;
    }

    .content ul li p {
        font-size: 9px;
        padding: 5px 0;
    }

    .content h2 {
        line-height: 1.3;
        font-size: 12px;
    }
    .col-2-1 a .content ul {
        padding-top: 185%;
    }
    section.subscribe form h1 {
        font-size: 2.2em;
        width: 70%;
    }
    div.top_footer {
        margin: 0 auto 30px;
        font-size: 0.9em;
    }
    .lst2 {
        margin-left: 12%;
    }
    .copyright div .copy {
        margin-left: 25%;
    }
    .details h1 {
        font-size: 1em;
    }
    .details ul li p {
        font-size: 0.5em;
    }
    .details ul li p img {
        width: 8px;
        height: 8px;
    }
    .details p {
        font-size: 0.6em;
    }
    .product, .product-drugs {
        grid-template-columns: repeat(3, 1fr);
        margin: 5% 0 30px 0;
        gap: 15px;
    }
    .prod1-abt {
        padding: 0 10px 5px;
    }
    .aboutUs {
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
    body section.top {
        height: auto;
    }
    div.wrapper {
        height: auto;
        padding: 0px 8% 20px;
    }
    li.links {
        display: none;
    }
    .blog_name {
        line-height: 0px;
    }
    .blog_name a img {
        height: 70px;
        width: 120px;
        display: absolute;
    }

    .others .wrapper nav ul .blog_name a img {
        height: 70px;
        width: 120px;
    }
    ul.topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    ul.topnav.responsive {
        position: relative;
        margin-left: auto;
    }
    ul.topnav.responsive li.links {
        display: inline;
        margin-left: 82%;
        position: relative;
    }
    ul.topnav.responsive li.drpdwn{
        position: absolute;
        top: 25px;
        right: 0;
    }
    #overlay {
        background-color: rgba(44, 43, 43, 0.618);
        width: 100%;
        padding: 5px;
        height: 1000px;
        position: absolute;
        right: 0;
        display: none;
    }
    ul.topnav.responsive li.links a {
        display: block;
        width: fit-content;
        position: absolute;
        left: -120px;
        top: -15px;
    }
    ul.topnav.responsive li.links a.life {
        top: 20px;
        left: -133px;
    }
    ul.topnav.responsive li.links a.trav {
        top: 45px;
        left: -122px;
    }
    ul.topnav.responsive li.links a.products {
        top: 70px;
        left: -133px;
    }
    ul.topnav.responsive li.links a.about {
        top: 95px;
        left: -122px;
    }
    .others ul.topnav.responsive li.links a.life {
        top: 10px;
    }

    .others ul.topnav.responsive li.links a.trav {
        top: 35px;
    }

    .others ul.topnav.responsive li.links a.products {
        top: 62px;
    }

    .others ul.topnav.responsive li.links a.about {
        top: 87px;
    }
    li.drpdwn {
        display: block;
    }
    li.drpdwn a img {
        width: 20px;
    }
    div.note {
        margin-top: 55%;
    }
    div.note h1 {
        font-size: 2.1em;
        line-height: 1.3;
    }
    div.note p {
        width: 90%;
        line-height: 1.6;
        font-size: 12px;
    }
    button.arrow {
        margin-top: 7%;
    }
    div.wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 280px);
    }
    section.posts {
        padding: 40px 15% 60px;
    }
    .col-1, .col-1-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .col-2, .col-2-1 {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .col-3, .col-3-1 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .col-4, .col-4-1 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .col-5, .col-5-1 {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
    .content ul, .col-2-1 a .content ul {
        margin-top: 0;
        padding-top: 75%;
    }
    .content h2 {
        font-size: 15px;
    }
    section.subscribe form {
        padding: 45px 0;
    }
    section.subscribe form h1 {
        font-size: 1.3em;
        width: 100%;
    }
    section.subscribe form p {
        font-size: 12px;
    }
    section.subscribe form input.txtbx {
        height: 35px;
        width: 170px;
    }
    section.subscribe form input.sbmt {
        height: 35px;
        width: 70px;
    }
    footer {
        padding: 15px 3% 2px;
        width: 94%;
    }
    div.top_footer {
        margin: 0 0 30px;
        font-size: 0.9em;
        display: block;
    }
    .lst1 .blog_name div {
        margin: 0 auto;
        width: 90px;
    }
    .lst1 .us, .lst2, .back {
        text-align: center;
    }
    .back {
        margin: 30px auto 10px;
    }
    .lst1 .us p{
        width: 100%;
    }
    .lst2 {
        margin-left: 0;
    }
    .lst2 h1 {
        font-size: 1.5em;
    }
    .details ul li p img {
        width: 6px;
        height: 6px;
    }
    .copyright .contact {
        margin: 0 29%;
    }
    .copyright {
        display: block;
        width: 100%;
    }
    .copyright div {
        width: 100%;
    }
    .copyright div .copy {
        margin-left: 0;
    }
    .copyright div p {
        font-size: 12px;
        display: inline;
    }
    .copyright div .tc {
        margin-left: auto;
    }
    .lifestyle_posts, .product, .product-drugs {
        display: block;
    }
    .post1 a img {
        border-radius: 5px 0 0 5px;
        height: 100%;
    }
    .post1  {
        display: grid;
        font-size: 0.6em;
        grid-template-columns: 1.2fr 2fr;
        height: auto;
    }
    .details {
        padding: 0px;
        margin: 5px;
    }
    .details h1 {
        font-size: 1.2em;
    }

    .details ul li p {
        font-size: 0.8em;
        
    }

    .details ul li p img {
        width: 10px;
        height: 10px;
    }

    .details p {
        font-size: 0.8em;
    }
    .prod_catgry {
        font-size: 1.8em;
    }
    .product-1 {
        display: flex;
        margin-bottom: 10px;
        padding: 4px;
    }
    .prod1-img {
        width: 30%;
    }
    .prod1-abt h1 {
        font-size: 1.2em; 
    }
    .prod1-img img{
        display: block;
        height: 100%;
    }
    .prod1-abt {
        padding: 0 13px;
    }
    .prod1-abt button {
        margin-top: 5px;
    }
    .aboutContainer {
        margin: 5% 0 30px 0;
    }

    .aboutUs {
        width: 100%;
        margin: auto;
    }

    .aboutUs h1 {
        font-size: 1.5em;
        line-height: 2;
    }

    .aboutUs p {
        font-size: 0.8em;
        margin-bottom: 15px;
    }
}
















