/* importing font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset browser default tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.article-button-container {
  text-align: left;
}

.article-exit-button {
  width: 30px;
  height: auto;
}

article {
  width: 93%;
  margin: 2% 4%;
  padding: 2%;
  border: 3px solid rgba(204, 204, 204, 0.24);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  border-radius: 5px;
}

.article-head {
  text-align: center;
  width: 80%;
  margin: auto;
}

.article__section {
  padding: 1%;
  color: rgba(0, 0, 0, 0.288);
}

.article__title {
  padding: 1%;
  font-size: 28px;
  color: black;
}

.article__author {
  padding: 1%;
  color: rgba(0, 0, 0, 0.288);
}

.article__caption {
  color: rgba(0, 0, 0, 0.288);
  font-size: 16px;
  text-align: justify;
  margin: 2px 0;
}

.article__text {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.article__text p {
  line-height: 180%;
  margin: 2%;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.article__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .article-exit-button {
    width: 20px;
  }
  article {
    font-size: 14px;
  }
  .article__title {
    font-size: 16px;
  }
  .article-head {
    width: 90%;
  }
  .article__caption {
    font-size: 11px;
  }
  .article__text {
    width: 90%;
  }
  .article__text p {
    font-size: 13px;
  }
}

/* COMMENT SECTION */

.comment-container {
  border-top: 1px solid rgba(0, 0, 0, 0.158);
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.comment-header {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid rgba(20, 5, 104, 0.26);
  line-height: 0.1em;
  margin: 3% auto;
  font-size: 20px;
  padding-top: 3%;
}

.comment-header span {
  background: #fff;
  padding: 0 10px;
}

.comment-author-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6% 0 2% 0;
  font-size: 20px;
}

.comment-reply-button {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.article-calendar {
  margin-right: 2px;
  vertical-align: unset;
}

.comment-date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.comment-body {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 2% 0;
  line-height: 180%;
}

@media (max-width: 600px) {
  .comment-header {
    font-size: 16px;
  }

  .comment-author-container {
    font-size: 16px;
  }
  .comment-body {
    font-size: 13px;
  }
  .comment-date {
    font-size: 13px;
  }
}

/* COMMENT FORM SECTION */
.comment-form {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.comment-form-header {
  font-size: 20px;
  text-transform: uppercase;
}

.comment-form-input-container {
  margin-top: 2%;
}
.comment-form-input-container label {
  font-size: 18px;
}
.comment-form-input-container input,
.comment-form-input-container textarea {
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1%;
  line-height: 180%;
}

.comment-form-input-container input:focus,
.comment-form-input-container textarea:focus {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  outline: 0;
}

#comment-checkbox {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  accent-color: green;
}

.spread {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-form-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: green;
  border-radius: 5px;
  outline: none;
  border: 1px solid green;
}

.comment-form-button:hover {
  background-color: rgba(0, 128, 0, 0.85);
}

.anonymous-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .comment-form-header {
    font-size: 16px;
  }

  .comment-form-button {
    padding: 5px 10px;
    font-size: 13px;
  }

  .comment-form-input-container label {
    font-size: 13px;
  }
}
